*{
    font-family: 'Work Sans',sans-serif;
}



.container{
-webkit-box-shadow:-45px 17px 42px 10px rgba(62,66,66,0.13);
-moz-box-shadow: -45px 17px 42px 10px rgba(62,66,66,0.13);
box-shadow: -45px 17px 42px 10px rgba(62,66,66,0.13);
}



#myChart {  /* or some other selector */
    width: 100% !important;
    height: auto !important;
 }

 .card-footer{
    font-weight: 300;
    font-size:1.5rem;;
 }

 .virtical-title{
    writing-mode: vertical-rl;
text-orientation: mixed;
 }

 .box-shadow{
    height: 300px;
    -webkit-box-shadow:-45px 17px 42px 10px rgba(62,66,66,0.13);
    -moz-box-shadow: -45px 17px 42px 10px rgba(62,66,66,0.13);
    box-shadow: -45px 17px 42px 10px rgba(62,66,66,0.13);
    }
.ondate{
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Work Sans',sans-serif !important;
}
.mthrate{
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'Work Sans',sans-serif !important;
}
.ondate{
    background-color:var(--bs-pink);
    font-size: 1.1rem;
}
.foot-ma {
    font-size: 0.8rem;
   
}

li{
    list-style: none;
}
.mycard{
   
        transform: translateY(-20px);
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    
}

.footer{
    position: sticky;
    bottom: 0px;
    font-size: small;
    
}
.navbar-brand{
    font-family: 'Ms Madi', cursive;
    font-style: initial;
    color:#fff !important;
}
.error-class{
    display: inline-block;
}
.nav-link{
    color: #fff !important;
}
.navbar {
    padding: .75rem 0;
    background-color: var(--bs-pink);
    opacity: 0.9;
    z-index: 2;
  }
  .custom-white{
    
  color:var(--bs-pink) !important;
  }
  