<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <!-- <link
      href="{{ url_for('static',filename='css/bootstrap.css')}}"
      rel="stylesheet"
      type="text/css"
    /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/54fe078197.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/bootstrap.min.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='js/chart.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='js/fontawesome.js') }}"
    ></script>
    <script
      src="{{ url_for('static',filename='js/Chart.min.js') }}"
      type="text/javascript"
    ></script>
    <!--signup and login custom css-->
    <link
      href="{{ url_for('static',filename='css/login.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static',filename='css/custom.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <title>{% block title %}RMG{% endblock %}</title>
  </head>
  <body class="h-100">
    <div>
      {% from "_render_templates.html" import render_Navbar %} {{
      render_Navbar(user)}}
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <div class="container">{% block content %} {% endblock %}</div>

    <!-- Footer -->
    <div class="footer mt-auto py-1 bg-light">
      <footer class="d-flex justify-content-center p-1 my-1 border-top">
        <div class="d-flex align-items-center">
          <a
            href="/"
            class="mb-3 me-2 mb-md-0 small-text text-decoration-none text-center lh-1"
          >
            Developed & Maintained by Raw Materials Group, Ranchi
          </a>
        </div>
      </footer>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script
      type="text/javascript"
      src="{{ url_for('static',filename='js/bootstrap.js') }}"
    ></script>
    <!-- JavaScript Bundle with Popper -->

    <script
      type="text/javascript"
      src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static',filename='js/index.js')}}"
    ></script>
    <script
      src="{{ url_for('static',filename='js/chart.js')}}"
      type="text/javascript"
    ></script>
  </body>
</html>
