{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}{% from "_render_templates.html" import render_login_form_field %}
<main class="form-signin w-100 m-auto shadow-sm py-3">
  <h4 class="text-center">Login</h4>
  <form method="POST" action="{{ url_for('auth.login') }}" novalidate>
    {{ form.csrf_token }}
    <div class="col-6">{{ render_login_form_field(form.email )}}</div>

    <div class="col-6">{{ render_login_form_field(form.password )}}</div>

    <input class="btn btn-primary" type="submit" value="submit" />
  </form>
</main>

{% endblock %}
