{% extends "base.html" %} {% block title %}Rake Types Destination wise{%
endblock %} {% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10 m-2">
      <form
        class="row gy-2 gx-3 align-items-center"
        action="{{ url_for('views.raketype_destwise') }}"
        method="POST"
      >
        <div class="col-auto">
          <label class="visually-hidden" for="autoSizingSelect"
            >Select Customer</label
          >
          <select class="form-select" id="autoSizingSelect" name="cust">
            <option selected>Choose...</option>
            <option value="BSL">BSL</option>
            <option value="DSP">DSP</option>
            <option value="RSP">RSP</option>
            <option value="ISP">ISP</option>
            <option value="BSP">BSP</option>
          </select>
        </div>

        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center justify-content-center">
    {%- set Name = [{ 'name' : 'Kiriburu Iron Ore Mines', 'id' : 'KRB', }, {
    'name' : 'Meghahatuburu Iron Ore Mines', 'id' : 'MBR', },{ 'name' : 'Gua
    Iron Ore Mines', 'id' : 'GUA', },{ 'name' : 'Manoharpur Iron Ore Mines',
    'id' : 'MPR', },{ 'name' : 'Bolani Ore Mines', 'id' : 'BOL', },{ 'name' :
    'Barsua Iron Mines', 'id' : 'BAR', },{ 'name' : 'Taldih Iron Mines', 'id' :
    'TAL', }, { 'name' : 'Kalta Iron Mines', 'id' : 'KAL', }, { 'name' : 'Bhilai
    Group of Mines', 'id' : 'BGM', },{ 'name' : 'Bhilai Steel Plant', 'id' :
    'BSP', },{ 'name' : 'Bokaro Steel Plant', 'id' : 'BSL', },{ 'name' :
    'Rourkela Steel Plant', 'id' : 'RSP', },{ 'name' : 'Durgapur Steel Plant',
    'id' : 'DSP', },{ 'name' : 'IISCO Steel Plant', 'id' : 'ISP', } ] %}
    <h4 align="center">
      Overall Average Rakes/day Typewise Vs
      <span class="bg-primary text-white"
        >{% for item in Name %}{% if item.id==cust %}{{ item.name }} {% endif
        %}{% endfor %}</span
      >
    </h4>
    <div class="col-12 mt-3">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr class="bg-danger">
              <th></th>
              <th colspan="5" class="text-center">
                Overall Type of month average
              </th>
              <th colspan="5" class="text-center">
                {% for item in Name %}{% if item.id==cust %}{{ item.name }} {%
                endif %}{% endfor %}
              </th>
            </tr>
            <tr class="bg-primary">
              <th class="align-middle text-center">Period</th>
              <th class="align-middle text-center">BOXN</th>
              <th class="align-middle text-center">BOYEL</th>
              <th class="align-middle text-center">BOBSN</th>
              <th class="align-middle text-center">GPWIS</th>
              <th class="align-middle text-center">Total</th>

              <th class="align-middle text-center">BOXN</th>
              <th class="align-middle text-center">BOYEL</th>
              <th class="align-middle text-center">BOBSN</th>
              <th class="align-middle text-center">GPWIS</th>
              <th class="align-middle text-center">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for data in data %}
            <tr>
              <td class="text-center">{{ data[0] }}</td>
              {% if data[1]==0 %}
              <td></td>
              {% else %}
              <td class="text-center">{{ "{:,.2f}".format(data[1]) }}</td>
              {% endif %} {% if data[2]==0 %}
              <td></td>
              {% else %}
              <td class="text-center">{{ "{:,.2f}".format(data[2]) }}</td>
              {% endif %} {% if data[3]==0 %}
              <td></td>
              {% else %}
              <td class="text-center">{{ "{:,.2f}".format(data[3]) }}</td>
              {% endif %} {% if data[4]==0 %}
              <td></td>
              {% else %}
              <td class="text-center">{{ "{:,.2f}".format(data[4]) }}</td>
              {% endif %}
              <td class="text-center bg-warning">
                {{ "{:,.2f}".format(data[4]+data[1]+data[2]+data[3]) }}
              </td>

              {% if data[5]==0 %}
              <td></td>
              {% else %}
              <td class="text-center">{{ "{:,.2f}".format(data[5]) }}</td>
              {% endif %} {% if data[6]==0 %}
              <td></td>
              {% else %}
              <td class="text-center">{{ "{:,.2f}".format(data[6]) }}</td>
              {% endif %} {% if data[7]==0 %}
              <td></td>
              {% else %}
              <td class="text-center">{{ "{:,.2f}".format(data[7]) }}</td>
              {% endif %} {% if data[8]==0 %}
              <td></td>
              {% else %}
              <td class="text-center">{{ "{:,.2f}".format(data[8]) }}</td>
              {% endif %}
              <td class="text-center bg-warning">
                {{ "{:,.2f}".format(data[5]+data[6]+data[7]+data[8]) }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
