{% extends "base.html" %} {% block title %}SAIl Internal Sites{% endblock %} {%
block content %}

<div class="container shadow-container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <li>
        <a href="http://10.135.0.5/myweb/homeco.asp" target="_blank"
          >Corporate Office Site</a
        >
      </li>
      <li>
        <a href="http://10.129.20.223/index.html" target="_blank"
          >Central Marketing Organisation</a
        >
      </li>
    </div>

    <div class="col-md-6 col-sm-12">
      <li>
        <a href="http://10.151.3.101/rdcis/portal/index.php" target="_blank"
          >RDCIS</a
        >
      </li>

      <li>
        <a href="http://10.151.8.11/HRMS/hrislogin.jsp" target="_blank"
          >RDCIS HRMS</a
        >
      </li>

      <li>
        <a href="http://10.151.7.187/RDCISPAY/Leave/DefaultHome" target="_blank"
          >RDCIS Payroll Management system</a
        >
      </li>

      <li>
        <a href="http://10.151.8.11/ENOTE/enotelogin.htm" target="_blank"
          >RDCIS eNotesheet</a
        >
      </li>
      <li>
        <a
          href="https://bspapp.sail-bhilaisteel.com/cprs/cprs_login.htm"
          target="_blank"
          >CPRS Bhilai</a
        >
      </li>
    </div>
  </div>
</div>

{% endblock %}
