{% extends "base.html" %} {% block title %}Sign-up{% endblock %} {% block
content %}{% from "_render_templates.html" import render_signup_form_field %}
<main class="form-signup w-100 m-auto">
  <form method="POST" action="{{ url_for('auth.signup') }}" novalidate>
    <h3 align="center">Sign up</h3>
    <div class="form-group">
      {{ form.csrf_token }}
      <div class="col-lg-8 p-1">{{ render_signup_form_field(form.email )}}</div>
      <div class="col-lg-8 p-1">
        {{ render_signup_form_field(form.firstname )}}
      </div>
      <div class="col-lg-8 p-1">
        {{ render_signup_form_field(form.password )}}
      </div>
      <div class="col-lg-8 p-1">
        {{ render_signup_form_field(form.password1 )}}
      </div>
    </div>
    <ul></ul>
    <br />
    <button type="submit" class="w-100 btn btn-lg btn-primary">Sign Up</button>
  </form>
</main>

{% endblock %}
